body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.menu a {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 260px;
  background: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}